* {
    margin: 0px auto;
    padding: 0px;
    font-family: cursive;
}

.post1 {
    margin: 40px auto;
    width: 550px;
    height: 150px;
    border: 2px solid black;
    padding: 30px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.post1 .top h2 {
    margin-left: 150px;
}

.top button {
    background-color: goldenrod;
    border: 2px solid black;
    width: 85px;
    height: 45px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 3px 3px 0px;
    cursor: pointer;
}

button:active {
    opacity: 30%;
}